<div class="toast toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <strong class="mr-auto toast-main-text">Error</strong>
        <button type="button" class="close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr>
    <div class="toast-body message-text">
        <div class="row">
            <div class="col">
                {{ message }}
                {% if grand_total %}
                <hr class="mt-1 mb-3">
                {% endif %}
            </div>
        </div>
        {% if grand_total %}
        <div>
            {% for item in booked_lessons %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.lesson.image %}
                    <img class="w-100 rounded" src="{{ item.lesson.image.url }}" alt="image-{{ item.lesson.name }}"
                        width="100%" height="100%">
                    {% else %}
                    <img class="w-100 rounded" src="{{MEDIA_URL}}graphics/no_image.png" alt="no-image" width="100%"
                        height="100%">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.lesson.name }}</strong></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="col">
                {% if grand_total %}
                <strong>
                    <p class="m-0 text-black">Total:
                        <span class="float-right">£{{ grand_total|floatformat:2 }}</span>
                    </p>
                    {% if discount > 0 %}
                    <p class="mt-1 mb-2 small-discount">Discount:
                        <span class="float-right">£{{ discount|floatformat:2 }}</span>
                    </p>
                    {% endif %}
                </strong>
                {% endif %}
                {% if total <= discount_threshold %} <p class="my-2 spent-more-text">Spend more than
                    <strong>£{{ discount_threshold }}</strong><br class="d-block d-sm-none"> to get
                    <strong>{{ discount_percentage }}% discount!</strong></p>
                    {% endif %}
                    <a href="{% url 'checkout' %}" class="btn hvr-bounce-to-right">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>